#Home .AppCard {
    box-sizing: border-box;
    border: 1px solid #283040;
    background-color: #283040;
    border-radius: 4px;
    height: 173px;
    width: 678px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #Home > .application-cards > .AppCard > .info-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #Home > .application-cards > .AppCard > .action-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  #Home > .application-cards > .AppCard > .info-column > span:nth-child(1) {
    color: #97a4ba;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
  }
  
  #Home > .application-cards > .AppCard > .info-column > span:nth-child(2) {
    color: #c4cfdd;
    font-size: 28px;
    line-height: 28px;
  }
  
  #Home > .application-cards > .AppCard > .info-column > span:nth-child(3),
  #Home > .application-cards > .AppCard > .info-column > span:nth-child(4) {
    line-height: 30px;
  }
  
  #Home > .application-cards > .AppCard > .action-column > .prof-card-btn-duplicate {
    border: none;
    height: 21px;
    width: 114px;
    border-radius: 20.5px;
    background-color: #4683fa;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  #Home > .application-cards .action-column > .prof-card-btn-duplicate > span {
    height: 12px;
    width: 74px;
    opacity: 0.8;
    color: #e9eaeb;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.67px;
    line-height: 12px;
    text-align: center;
  }
  
  #Home > .profile-cards .action-column > .prof-card-btn-delete {
    box-sizing: border-box;
    height: 21px;
    width: 114px;
    border: 1px solid #526284;
    border-radius: 20.5px;
    background-color: #374156;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
  
  #Home > .application-cards .action-column > .prof-card-btn-delete > span {
    height: 12px;
    width: 74px;
    opacity: 0.8;
    color: #e9eaeb;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.67px;
    line-height: 12px;
    text-align: center;
  }
  
  #Home > .application-cards .action-column > .prof-card-btn-chevron-right {
    margin-right: 23px;
    border: none;
  }
  
  #Home > .application-cards .action-column > .prof-card-btn-chevron-right > span > svg {
    color: #4683fa;
    width: 18px;
    height: 30px;
  }


  // new csss

  .application-card-wrapper{
    box-sizing: border-box;
    border: 1px solid #283040;
    background-color: #283040;
    border-radius: 4px;
    height: 173px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
  }