packer_cache/
packerlog.txt
iso/*.iso
*.box
*.ova
output/
output-main/
output-worker/
*~
build/packer/variables.json
*.log
.DS_Store
.vagrant/*
*.previous
**/openshift.local.clusterup/
ssh/
.terraform
ovf_cmd.bat
*.tfstate*
plan
.config.yaml
/deploy/aws/jq
/deploy/aws/kx-as-code.ovpn
/deploy/aws/aws/
/deploy/aws/awscliv2.zip
/deploy/aws/temp.ovpn
/deploy/aws/terraform
/deploy/aws/config.json
/deploy/aws/.ovpn/cert
/deploy/aws/.ovpn/key
/deploy/aws/.ssh/id_rsa
/deploy/aws/.ssh/id_rsa.pub
agent.jar
build/jenkins/jenkinsLog_*
build/jenkins/.jenkins-plugin-manager.jar
