packer_cache/
packerlog.txt
iso/*.iso
*.box
*.ova
output/
output-main/
output-worker/
*~
build/packer/variables.json
*.log
.DS_Store
.vagrant/*
*.previous
**/openshift.local.clusterup/
ssh/
.terraform
ovf_cmd.bat
*.tfstate*
plan
.config.yaml