[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kx.hero/Desktop/Kubernetes-Dashboard.desktop]
row=7
col=0

[/home/kx.hero/Desktop/KX_Share]
row=4
col=0

[/home/kx.hero/Desktop/README.desktop]
row=5
col=0

[/home/kx.hero/Desktop/KX.AS.CODE  Library]
row=1
col=0

[/home/kx.hero/Desktop/Get-Kubernetes-Token.desktop]
row=8
col=0

[/home/kx.hero/Desktop/KX.AS.CODE-Docs.desktop]
row=9
col=0

[/home/kx.hero/Desktop/KX.AS.CODE Test]
row=2
col=0

[/home/kx.hero/Desktop/CONTRIBUTE.desktop]
row=6
col=0

[/home/kx.hero/Desktop/Tech-Radar.desktop]
row=10
col=0

[/home/kx.hero/Desktop/KX_Data]
row=3
col=0

[/home/kx.hero]
row=0
col=0
