packer_cache/
packerlog.txt
iso/*.iso
*.box
base-vm/*output*/**
*~
/docs/site/
variables.json
*.log
.DS_Store
**/.vagrant/*
*.previous
99-Vagrant/
**/openshift.local.clusterup/
base-vm/**/config.yaml
.idea
*.lock
/profiles/*/terraform.zip
/profiles/*/.ovpn/cert
/profiles/*/.ovpn/key
/profiles/*/.ssh/id_rsa
/profiles/*/.ssh/id_rsa.pub
/profiles/*/awscliv2.zip
/profiles/*/config.json
/profiles/*/init-main.tpl
/profiles/*/init-worker.tpl
/profiles/*/jq
/profiles/*/kx-as-code.ovpn
/profiles/*/temp.ovpn
/profiles/*/terraform
terraform.tfstate
terraform.tfstate.backup
/KX.AS.CODE.iml
/workspace.code-workspace
/.idea/
**/*.vdi
**/*.vmdk
**/*.img
base-vm/build/packer/raspberry-pi/packer-builder-arm
**/kx.as.code_main-ip-address
agent.jar
amazon-corretto*
**/jenkins/java
.terraform*
/base-vm/build/jenkins/oracle_vbox.asc
/profiles/terraform-openstack-demo1/hosts_file_entries.txt
/base-vm/build/jenkins/docker-compose
/base-vm/build/jenkins/jenkins.env
/base-vm/build/jenkins/mo
/base-vm/build/jenkins/jenkins_home
/base-vm/build/jenkins/jenkins_remote
/base-vm/build/jenkins/jenkins-cli.jar
/base-vm/build/jenkins/jq
/base-vm/build/jenkins/jenkins.env.ps1
/base-vm/build/jenkins/jenkins.env.docker-compose
/base-vm/build/jenkins/jq.exe
/base-vm/build/jenkins/jenkins.env.docker-compose.ps1
/base-vm/build/jenkins/docker-compose.exe
/profiles/aws-demo1/aws/
/base-vm/build/jenkins/jenkins.iml
/jq
**/info.json
**/kx.as.code-*_metadata.json
/base-vm/build/jenkins/jenkins_remote/workspace/shared_workspace/kx.as.code
**/shared_workspace
**/ssh_key
/profiles/terraform-openstack/hosts_file_entries.txt
/base-vm/build/jenkins/jenkins.war
/base-vm/build/jenkins/jenkins-plugin-manager.jar
jenkins_remote/workspace/shared_workspace/kx.as.code
/client/node_modules
**/node_modules
/client/package-lock.json
/base-vm/build/jenkins/jenkinsLog*
/system-check.json
/base-vm/build/jenkins/jenkins_shared_workspace/*
base-vm/boxes/virtualbox-0.8.4/kx-main-0.8.4_metadata.json
base-vm/build/jenkins/initial-setup/jobs/KX.AS.CODE_Launcher/config.xml_backup
/lib/
/profiles/**/kx-external-access/
**/.vagrant
/profiles/**/actionQueues.json
