packer_cache/
packerlog.txt
iso/*.iso
*.box
base-vm/*output*/**
*~
variables.json
*.log
.DS_Store
**/.vagrant/*
*.previous
99-Vagrant/
**/openshift.local.clusterup/
base-vm/**/config.yaml
.idea
*.lock
/profiles/*/terraform.zip
/profiles/*/.ovpn/cert
/profiles/*/.ovpn/key
/profiles/*/.ssh/id_rsa
/profiles/*/.ssh/id_rsa.pub
/profiles/*/awscliv2.zip
/profiles/*/config.json
/profiles/*/init-main.tpl
/profiles/*/init-worker.tpl
/profiles/*/jq
/profiles/*/kx-as-code.ovpn
/profiles/*/temp.ovpn
/profiles/*/terraform
/profiles/*/terraform.tfstate
/profiles/*/terraform.tfstate.backup
/KX.AS.CODE.iml
/workspace.code-workspace
