
#card-container {
    width: 250px;
    height: 320px;
    margin: 20px;
    background-color: #72737e65;
    align-items: inherit;
    #card {
        width: 350px;
        margin: 10px 0px;
        #card-key, #card-value {
            height: 20px;
            font-size: 12px;
            padding: 0px 15px;        
        }
        #card-value {
            float: right;
            padding: 0px; 
        }
    }
}

#card-container > .install-but {
    margin-top: 40px;
    margin-left: 10px;
}
#card-container > .cores{
    margin-left: 15px;
    font-size: 15px;
}

#card-container > .install-but > .prof-card-btn-install{
    border: none;
    height: 21px;
    width: 114px;
    border-radius: 20.5px;
    background-color: #4683fa;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

#card-container > .install-but > .prof-card-btn-install > span{
    height: 12px;
    width: 74px;
    opacity: 0.8;
    color: #e9eaeb;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.67px;
    line-height: 12px;
    text-align: center;

}
.first-1{
    margin-top: 10px ;
    margin-left: 10px;
}
.first-2{
    margin-left: 10px;

}
.first-3{
    margin-top: 5px;
    margin-left: 10px;

}
.font-icon-progress1{
    float: right;
    margin-left: 100px;
}