#Home {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 80px;
  }
  
  #Home > p {
    margin-top: 0px;
    white-space: pre-line;
  }
  
  #Home > div > button {
    height: 64px;
    width: 315px;
    margin: 20px 10px 10px 10px;
  }
  
  #Home > .application-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  

  // new css style

  .application-card-container{

  }

  #dashboard-content{
    text-align: left;
    width: 100%;
    margin-top: 80px;
  }