.text-input {
    margin-top: 20px;
    color:white !important;
}
.text-input2 {
    margin-top: 15px;
    color:white !important;
    margin-left: 10px;
    width:250px;
}
.text-input3 {
    margin-top: 15px;
    color:white !important;
    width:250px;
}