[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Development
Comment[en_US]=BTOP
Comment=BTOP
Exec=tilix --window-style=disable-csd-hide-toolbar --maximize -a app-new-window -x "btop"
GenericName[en_US]=BTOP
GenericName=BTOP
Icon=utilities-system-monitor
MimeType=text/html;image/webp;application/xml;
Name=BTOP
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Development
