[Desktop Entry]
Version=1.0
Name=How to Contribute
GenericName=How to Contribute
Comment=How to Contribute
Exec=/usr/bin/typora /usr/share/kx.as.code/git/kx.as.code/CONTRIBUTE.md
StartupNotify=true
Terminal=false
Icon=/usr/share/kx.as.code/git/kx.as.code/kxascode_logo_white_small.png
Type=Application
