[Desktop Entry]
Version=1.0
Name=Tilix
Icon=utilities-terminal
Comment=Tilix
Keywords=shell;prompt;command;commandline;cmd;
Exec=tilix
Terminal=false
Type=Application
StartupNotify=true
Categories=System;TerminalEmulator;
Icon=utilities-terminal
DBusActivatable=true
Actions=new-window;new-session;

[Desktop Action new-window]
Exec=tilix --action=app-new-window

[Desktop Action new-session]
Name=New Session
Exec=tilix --action=app-new-session
