[Desktop Entry]
Version=1.0
Name=DevOps Tech Radar
GenericName=DevOps Tech Radar
Comment=DevOps Tech Radar
Exec=/usr/bin/google-chrome-stable %U https://techradar.kx-as-code.local --use-gl=angle --password-store=basic
StartupNotify=true
Terminal=false
Icon=/home/kx.hero/Documents/git/tech_radar/kubernetes/techradar.png
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;new-private-window;
