
.prof-normal-btn {
  color: #FFFFFF !important;
  border: solid 1px #CCCCCC !important;
  border-radius: 0 !important;
}
.prof-card-btn-duplicate  {
  border: none !important;
  height: 21px;
  width: 114px;
  border-radius: 20.5px !important;
  background-color: #4683FA !important;
  box-shadow: 0 5px 10px -10px rgba(0,0,0,0.5);
  margin-bottom: 20px !important;
}

.prof-card-btn-duplicate > span  {
  height: 21px;
  width: 114px;
  opacity: 0.8;
  color: #E9EAEB;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.67px;
  line-height: 12px;
  text-align: center;
}

.prof-card-btn-delete  {
  box-sizing: border-box !important;
  height: 21px;
  width: 114px;
  border: 1px solid #526284 !important;
  border-radius: 20.5px !important;
  background-color: #374156 !important;
  box-shadow: 0 5px 10px -10px rgba(0,0,0,0.5);
  margin-bottom: 15px !important;
}

.prof-card-btn-delete > span  {
  height: 21px;
  width: 114px;
  opacity: 0.8;
  color: #E9EAEB;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.67px;
  line-height: 12px;
  text-align: center;
}

.prof-card-btn-chevron-right  {
  margin-right: 23px;
  border: none !important;
}

.prof-card-btn-chevron-right > span > svg {
  color: #4683FA;
  width: 18px !important;
  height: 30px;
}

.prof-card-btn-supergroup {
  color: #FFFFFF !important;
  border: solid 1px #CCCCCC !important;
  height: 40px;
  width: 114px;
  border-radius: 20.5px !important;
}

