@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@tailwind base;
@tailwind components;

// Additional styles
@import "additional-styles/utility-patterns.scss";
@import "additional-styles/range-slider.scss";
@import "additional-styles/toggle-switch.scss";
//@import "additional-styles/flatpickr.scss";
@import "additional-styles/theme.scss";

@tailwind utilities;

#home-left{
    background-image: url("../media/svg/cubes.svg");
    display: block;
    left: -90px;

    width: 200px;
    height: 505px;
    position: absolute;
    opacity: 0.3;
}

@keyframes slide-up {
    0%{
        transform: translateY(100px)
    }
    100% {
        transform: translateY(0)
    }
}

.slide-up-card-container{
    -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
}

.slide-card-container{
    -webkit-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    
        -webkit-transform-origin: top;
        -o-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    
        -webkit-transition: -webkit-transform 0.26s ease-out;
        -o-transition: -o-transform 0.26s ease;
        -ms-transition: -ms-transform 0.26s ease;
        transition: transform 0.26s ease;
}

.modal-drag-handle {
    width: 100%;
    height: 20px;
    cursor: move;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }