#NewProfileGeneral {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#NewProfileGeneral > p {
  margin-bottom: 60px;
}

#new-prof-gen-steps-container {
  position: relative;
  width: 852px;
}

#new-prof-gen-steps {
  width: 652px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#new-prof-gen-steps > .step1 {
  background-color: #141a23;
  border-radius: 50%;
  border: solid 1px #141a23;
  width: 64px;
  height: 64px;
}

#new-prof-gen-steps > .step2 {
  background-color: #141a23;
  border-radius: 50%;
  border: solid 1px #141a23;
  width: 64px;
  height: 64px;
  margin: 0 230px;
}

#new-prof-gen-steps > .step3 {
  background-color: #141a23;
  border-radius: 50%;
  border: solid 1px #141a23;
  width: 64px;
  height: 64px;
}

.horizontal-line {
  position: absolute;
  top: 32px;
  left: 100px;
  width: 652px;
  height: 3px;
  background-color: #141a23;
  margin: 0 auto;
}

#new-prof-gen-step-labels {
  width: 775px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#new-prof-gen-step-labels > .step1-label {
  line-height: 22px;
  text-align: center;
}

#new-prof-gen-step-labels > .step2-label {
  line-height: 22px;
  text-align: center;
}

#new-prof-gen-step-labels > .step3-label {
  line-height: 22px;
  text-align: center;
}

.new-prof-gen-form {
  background-color: #263041;
}

#new-prof-profiles-button {
  position: absolute;
  top: 121px;
  left: 202px;
  padding: 20px 40px;
}
