.counter-center  {
  color: #FFFFFF !important;
  height: 24px;
  width: 114px;
  border:none !important;
  background-color: #798ca3 !important;
  border-radius: 0 !important;
  letter-spacing: 1.67px;
  font-size: 13px;
  text-align: center !important;
  box-shadow: 0 1px 1px 0  #798ca3;

}

.counter{
  margin-top: 5px;
  display:flex;
}
#root #new-prof-gen-form > div > div > div {
    margin-bottom: 17px;
}
.prof-counter-btn-duplicate  {
  color: #FFFFFF !important;
  height: 24px;
  width: 108px;
  border: none !important;
  background-color: #72737e65 !important;
  border-radius: 0 !important;
  box-shadow: 0 1px 1px 0 #72737e65;

}

#labeltext{
  font-size: 12px;
  width:100px;
  margin-right: 10px;
}

.prof-counter-btn-duplicate > span  {
  height: 24px;
  width: 108px;
  color: #FFFFFF !important;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}