[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kx.hero/Desktop/RabbitMQ.desktop]
row=7
col=0

[/home/kx.hero/Desktop/Kubernetes-Dashboard.desktop]
row=0
col=1

[/home/kx.hero/Desktop/README.desktop]
row=1
col=0

[/home/kx.hero/Desktop/KX.AS.CODE Source]
row=3
col=0

[/home/kx.hero/Desktop/postman.desktop]
row=8
col=0

[/home/kx.hero/Desktop/API Docs]
row=4
col=0

[/home/kx.hero/Desktop/Get-Kubernetes-Token.desktop]
row=2
col=1

[/home/kx.hero/Desktop/KX.AS.CODE-Docs.desktop]
row=3
col=1

[/home/kx.hero/Desktop/Kubernetes-Dashboard-OIDC.desktop]
row=1
col=1

[/home/kx.hero/Desktop/Vendor Docs]
row=6
col=0

[/home/kx.hero/Desktop/CONTRIBUTE.desktop]
row=2
col=0

[/home/kx.hero/Desktop/DevOps Tools]
row=5
col=0

[/home/kx.hero/Desktop/Tech-Radar.desktop]
row=4
col=1

[/home/kx.hero]
row=0
col=0

