
#card-container {
    width: 300px;
    height: 210px;
    margin: 20px;
    background-color: #72737e65;
    align-items: inherit;
    #card {
        width: 350px;
        margin: 10px 0px;
        #card-key, #card-value {
            height: 20px;
            font-size: 12px;
            padding: 0px 15px;        
        }
        #card-value {
            float: right;
            padding: 0px; 
        }
    }
}