.sliders {
    display: flex;
    justify-content: space-between;
}

.sliders p {
    opacity: 0.8;
    color: #E9EAEB;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.67px;
    line-height: 10px;
    text-align: center;
}
