#new-profile-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:auto;
}

#new-prof-profiles-button {
    position: absolute;
    top: 110px;
    left: 150px;
    padding: 20px 40px;
    width: 130px;
    height : 50px;
  }
  