@import './style.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
    height: 100vh;
    width: 100%;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

/* Coldmirror background overwrite */
.ͼ1 {
    background-color: #161b22;
}

/* Coldmirror line numbers background color overwrite */
.ͼo .cm-gutters {
    background-color: #1f262e;
}

/* Coldmirror active line highlight background color overwrite */
/* .ͼo .cm-activeLine {
    background-color: #2f3640;
} */

/* WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2f3640;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #1f262e;
}

/* For other browsers */
.custom-scrollbar {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #2f3640 #1f262e;
    /* Firefox */
}

.custom-scrollbar:hover {
    scrollbar-color: #2f3640 #f1f1f1;
    /* Change on hover for Firefox */
}

.CodeMirror {
    z-index: 0
}

.CodeMirror pre {
    z-index: 0;
}