@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    background-color: #161b22;
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 200; /* Specify the desired weight */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100 900; /* Range of font weights */
    src: url('assets/fonts/poppins.woff2') format('woff2');
}

#app {
    height: 100vh;
    text-align: center;
}
    