#new-prof-review-container {
    width: 90%;
    padding: 60px;
    background-color: #263041;
}

#container-1,
#title {
    margin: 20px;
}

#main-node, #worker-node {
    margin-top: 0px;
    margin-bottom: 25px;
    #card-title {
        padding: 0px 15px;
    }
}

#storage-key, #storage-value {
    height: 20px;
    font-size: 12px;
    padding: 0px 15px;
}
#storage-value {
    float: right;
    padding: 0px;
}

#installation-container {
    width: 100%;
}
