@import "variables.scss";

#App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#main, #main-container {
  height: 100%;
  bottom: 0px;
}

#main-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#content {
  width: 100%;
  overflow: hidden;
  margin-right: 26px;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $navbg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.041);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(255, 255, 255, 0.219);
}



.app-table td, th {

  text-align: left;
  padding: 8px;
}

.app-table {
  border-collapse: collapse;
  width: 100%;
}

.app-table-container{
  background-color: $cardbg;
}

.table-header-container{
  margin-bottom: 10px;
}

.card-title{
  margin-bottom: 30px;
}

#standard-search {
}