@import "variables.scss";



@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-Black.woff2") format("woff2"),
  url("media/fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-BlackItalic.woff2") format("woff2"),
  url("media/fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-BoldItalic.woff2") format("woff2"),
  url("media/fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-Bold.woff2") format("woff2"),
  url("media/fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-Italic.woff2") format("woff2"),
  url("media/fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-Light.woff2") format("woff2"),
  url("media/fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-LightItalic.woff2") format("woff2"),
  url("media/fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("media/fonts/Lato-HairlineItalic.woff2") format("woff2"),
  url("media/fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("media/fonts/Lato-Regular.woff2") format("woff2"),
  url("media/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("media/fonts/Lato-Hairline.woff2") format("woff2"),
  url("media/fonts/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  height: 100%;
  background-color: $bodybg;
  margin: 0;
  padding: 0;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 100;
}

#root div {
  border-radius: 0;
}

#root, #root>div, #root>div>div {
  width: 100%;
}

#root, #root>div {
  height: 100%;
}

h1 {
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
}

button, #root .MuiButton-root {
  color: #FFFFFF;
  border: solid 1px #CCCCCC;
  border-radius: 0;
}

#root {
  font: inherit;
  color: currentColor;
  // background: #1b213a;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
  border: 0;
  height: 37px;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
